.btnA {
    background-color: #46139f;
    color: white;
}

.btnA:hover {
    background-color: #8f8b97;
    color: rgb(0, 0, 0);
}

.btnB {
    background-color: #ff7f50;
    color: white;
}

.btnB:hover {
    background-color: #8f8b97;
    color: rgb(0, 0, 0);
}

.btnC {
    background-color: rgb(209, 0, 0);
    color: white;
}

.btnC:hover {
    background-color: rgb(194, 90, 90);
    color: rgb(0, 0, 0);
}